.z{
    z-index: 999999;
}
.bgimg1{
    background-image: url(../images/background/background1.webp);
}.bgimg2{
    background-image: url(../images/background/background2.webp);
}.bgimg3{
    background-image: url(../images/background/background3.webp);
}
.rgba{
    background-color: rgba(0, 0, 0, 0.4);
}
.s1text{
    text-align: center;
    width: 50%;
    margin: auto;
    padding-top: 20%;
    color: #fff;
}
.mybtn1{
    background-color: #6195ff;
    transition: box-shadow 1s;
}
.mybtn2{
    background-color: #fff;
    transition: box-shadow 1s;
}
.mybtn1:hover,
.mybtn2:hover{
    box-shadow: rgb(39, 39, 39) 8px 10px 5px;
}
#navbarSupportedContent{
    margin-left: 53%;
}
.line{
    margin: auto;
    height: 3px;
    width: 55px;
    background-color: #6195ff;
}
.effect{
    border: #000 solid 1px;
    padding-left: 0%;
    padding-right: 0%;
    margin: auto;
    position: relative;
    transition: color 1s;
}
.effect:hover{
    color: #fff;
    width: 100%;
}
.s2ip{
    display: inline-block;
    font-size: small;
}
.raghy,
.raghy2{
    font-size: smaller;
    color: gray;
}
.readmore{
    font-size: smaller;
}
.iblog{
    transition:1s;
}
.iblog:hover{
    transform: scale(1.05);
}
.gears,
.magic,
.mobile{
    font-size: xx-large;
    width: 100%;
    text-align: center;
    padding-top: 15%;
}
.location,
.phone,
.envelope{
    font-size: xx-large;
    padding-top: 15%;
}
.mybtn{
    color: #fff;
    background-color: #6195ff;
    width: max-content;
    margin-top: 3rem;
}
.mybtn:hover{
    color: #000;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
}
.logo_div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.facebook,
.google,
.twitter,
.instagram,
.linkedin,
.youtube{
    font-size: x-large;
    width: 100%;
}
.icons{
    display: flex;
    flex-direction: row;
}
.ii:hover{
    background-color: rgb(0, 0, 102);
}
.ii{
    margin: 03px;
    transition: .5s;
    background-color: #6195ff;
    height: auto;
    width: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    text-align: center;
    align-items: center;
}
.effect:hover::after{
    width: 100%;
}
.effect::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #000;
    top: 0;
    left: 0;
    transition: width 1s;
    z-index: -1;
    transition: width 1s, color 1s;
}
